@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;600;700;800;900&display=swap');

/* global css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    font-family: 'Commissioner', sans-serif;
    overflow-x: hidden;
}



/* hero section css  */
.hero_main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero_main header{
    position: absolute;
    top: 0;
    width: 100%;
}
.hero_main .navbar{
    padding: 25px 0px;
}
.hero_main .navbar .navbar-brand{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: white;
}
.hero_main .navbar .nav-item{
    margin-right: 14px;
}
.hero_main .navbar .nav-item .nav-link{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.hero_main .navbar .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
.hero_main .navbar .icons img{
    width: 18px;
    margin-right: 15px;
}
.hero_main .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero_main .content .heading{
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 100%;
    text-align: center;
    color: white;
}
.hero_main .content .buttons{
    margin-top: 30px;
}
.hero_main .content .buttons button:first-child{
    padding: 12px 25px;
    background: #F2FFF4;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #2F5233;
    margin-right: 20px;
    border: 2px solid #F2FFF4;
}
.hero_main .content .buttons button:last-child{
    padding: 10px 25px;
    background: transparent;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    border: 2px solid #F2FFF4;

}





/* service section css start  */
.service_section{
    margin-top: 75px;
    position: relative;
    margin-bottom: 75px;
}
.service_section .bg{
    position: absolute;
    width: 339px;
    height: 305px;
    left: -125px;
    background: url(../img/service-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-49.45deg);
}
.service_section .heading{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.service_section .service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service_section .service img{
    width: 100px;
}
.service_section .service .head{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.service_section .service .description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #999999;
}





/* card section css start  */
.card_section{
    margin-bottom: 50px;
}
.card_section .main-txt{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #F2FFF4;
    position: absolute;
    top: 43px;
    z-index: 1;
    left: 36%;
    padding-right: 80px;
}
.card_section .sub-txt{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #fff4f4;
    position: absolute;
    top: 125px;
    z-index: 1;
    left: 36%;
    padding-right: 75px;
}
.card_section .card__{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 310px;
    border-radius: 10px;
}
.card_section .card__.first{
    background: #DBEAEB;
}
.card_section .card__.second{
    background: #EFE9E0;
}
.card_section .card__ .vector{
    position: absolute;
    right: 0px;
    top: 0px;
}
.card_section .card__ .plant.first{
    width: 270px;
    position: absolute;
    left: -40px;
    bottom: -17px;
}
.card_section .card__ .plant.second{
    width: 210px;
    position: absolute;
    left: -20px;
    bottom: -17px;
}
.card_section .card__ .vector{
    width: 460px;
    height: 245px;
}




/* new arrivals section css start  */
.arrivals_section{
    margin-top: 100px;
    margin-bottom: 50px;
}
.arrivals_section .heading{
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 35px;
}
.arrivals_section .card__{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrivals_section .card__ .name{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
    line-height: 150%;
    text-align: center;
    color: #1A140F;
    margin-bottom: 5px;
}
.arrivals_section .card__ .price{
    text-align: center;
}
.arrivals_section .card__ .price .old{
    position: relative;
    margin-right: 15px;
}
.arrivals_section .card__ .price .old::after{
    content: '';
    border-top: 1.6px solid #E84F27;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 10px;
}
.arrivals_section .card__ .img_box{
    position: relative;
}
.arrivals_section .card__ .off{
    position: absolute;
    background: #2F5233;
    border-radius: 8px 0px;
    top: 0px;
    color: white;
    padding: 10px 22px;
    left: 0px;
}




/* our work section css  */
.work_section{
    margin-top: 75px;
    position: relative;
}
.work_section .head{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
    color: #2F5233;
}
.work_section .description{
    margin-bottom: 20px;
    width: 94%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}
.work_section .right_box{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.work_section button{
    border: 1px solid #1A140F;
    border-radius: 8px;
    background: white;
    outline: none;
    padding: 10px 25px;
    width: fit-content;
}
.work_section .bg{
    position: absolute;
    width: 339px;
    height: 305px;
    right: -125px;
    background: url(../img/service-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: matrix(-0.43, -0.9, -0.9, 0.43, 0, 0);
    bottom: -50px;
}